@font-face {
  font-family: "iconfont"; /* Project id 4981689 */
  src: url('iconfont.woff2?t=1753208411542') format('woff2'),
       url('iconfont.woff?t=1753208411542') format('woff'),
       url('iconfont.ttf?t=1753208411542') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-qita:before {
  content: "\e601";
}

.icon-hongbao:before {
  content: "\e62a";
}

.icon-yule:before {
  content: "\e60c";
}

.icon-huankuan:before {
  content: "\e60a";
}

.icon--jiaoyu:before {
  content: "\e608";
}

.icon--tongxun:before {
  content: "\e609";
}

.icon-jiaotong:before {
  content: "\e621";
}

.icon-wodexinchou:before {
  content: "\e616";
}

.icon-tingchefei:before {
  content: "\e6ad";
}

.icon-zulinzhongxin:before {
  content: "\e628";
}

.icon-jiudianzhusu:before {
  content: "\e6ba";
}

.icon-waimai:before {
  content: "\f343";
}

.icon-yinhangkazhuanzhang:before {
  content: "\e649";
}

.icon-lvyoulvhang:before {
  content: "\ffc9";
}

.icon-youqifeihuabo:before {
  content: "\e7a7";
}

.icon-a-cartgouwuchegouwu:before {
  content: "\e6ab";
}

.icon-a-Noshery0201:before {
  content: "\ea22";
}

